

<%= form_tag('/reset_queue', method: :post) %>
  <div class="container-fluid" style="padding: 10px;">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">
      Delete all in Queue	
    </button>
  </div>
</form>


<%= form_tag('/reset_queue_pdf', method: :post) %>
  <div class="container-fluid" style="padding: 10px;">
    <button type="submit" class="btn btn-secondary btn-lg btn-block">
      Reset QRcode
    </button>
  </div>
</form>



